<div class="form">
  <form [formGroup]="form" (ngSubmit)="gameStartSubmit(color)">
    <div class="title">It's a {{ title }} game!</div>
    <div class="subtitle">Let's create your account!</div>
    <div class="input-container ic1">
      <input
        input
        type="text"
        id="playerName"
        name="name"
        class="input"
        placeholder=" "
        formControlName="name"
      />
      <h4 *ngIf="name?.touched && !name?.valid">This is required</h4>
      <label for="playerName" class="placeholder">Player name</label>

    </div>
    <div class="input-container ic2">
      <input
        type="text"
        id="email"
        name="email"
        class="input"
        placeholder=" "
        formControlName="email"
      />
      <h4 *ngIf="email?.touched && !email?.valid">This is required</h4>
      <label for="email" class="placeholder">Email </label>

    </div>

    <div>
      <h3>{{ inputError }}</h3>
    </div>

    <button
      type="button"
      type="text"
      class="submit"
      [disabled]="form.invalid"
      (click)="changeColor()"
    >
      Play high contrast
    </button>

    <button type="submit" type="text" class="submit" [disabled]="form.invalid">
      Play normal color
    </button>
  </form>
</div>

<p>
  Snake game as an angular component.<br />
  This project is licensed under the MIT license. <br />
  See the LICENSE file for more info.<br />
</p>
