<div class="main">   
  <!----------------------------------------------------------------------------------------------------------------------------->
    <div *ngIf="registerView == 'regView1'"> 
  
      <table>
        <tr>
          <td colspan="2"><h1>Welcome to the {{title}} game!</h1></td>
        </tr>
        <tr>  
          <td colspan="2"><h3>{{errorOnInput}}</h3></td>
        </tr>
        <tr>
          <td>Player name:</td>
          <td><input type="text" id="playerName" name="playerName" class="form-control" [(ngModel)]="playerName"></td>
        </tr>
        <tr>
          <td>Player email:</td>
          <td><input type="text" id="email" name="email" class="form-control" [(ngModel)]="playerEmail"></td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit" class="button button1" (click)="startGame()">Start</button></td>
        </tr>
      </table> 
  
    </div>
    <!-- --------------------------------------------------------------------------------------------------------------------- -->
    <ngx-snake #game></ngx-snake>

    <button (click)="game.actionStart()">Start</button>
    <button (click)="game.actionStop()">Stop</button>
    <button (click)="game.actionReset()">Reset</button>
    <button (click)="game.actionUp()">Up</button>
    <button (click)="game.actionLeft()">Left</button>
    <button (click)="game.actionRight()">Right</button>
    <button (click)="game.actionDown()">Down</button>